BUILD/
UNITY_PanicAtTheGallery/Assets/Scenes/Gallery/LightingData.asset
UNITY_PanicAtTheGallery/Assets/Scenes/Gallery/LightingData.asset.meta
Submission.zip
Jordan Han 2000473 CMP407 Audio Programming Report.pdf
Niall Meeting Notes.txt
Final Rubric Full.pdf